.post-list
  border-bottom: 1px solid #f0f0f0
  margin-bottom: 15px
  padding-bottom: 10px

.post-list ul
  margin: 0

.post-list li
  margin: 5px 0 5px
  list-style-type: none

.post-list time
  font-size: 14px
  font-weight: 300

.post-list a
  font-size: 14px

.post-list a:hover
  text-decoration: underline

.post-list a:visited
  color: #969696