.post
  width: 100%

.post-meta
  margin-bottom: 1rem

.post-meta span
  padding-right: 1rem

.post-meta span, .post-meta span a
  color: #b4b4b4 !important
  font-size: 12px !important
  line-height: 20px !important

.post-meta span i.fa
  width auto
  margin-right 0.25rem

.post-title
  margin: 35px 0 25px
  text-align: center

.post ul
  margin: 10px 5px 20px 25px

.post img
  width: 80%
  position: relative
  left: 50%
  transform: translateX(-50%)

.post img.inline
  position: static
  left: 0
  max-width: none
  width: auto
  transform: none