@import "../base/palette.styl"

.header
  width: 100%
  background-color: #f2f2f2

.header .container
  min-height: 0
  margin: 0 auto 0

.menu
  overflow: auto

.menu a
  text-decoration: none
  line-height: 80px
  font-size: 18px

.menu-left
  float: left

.menu-left img
  width: auto
  height: 50px
  vertical-align: middle

.menu-right
  float: right

.menu-right a
  margin-left: 10px

@media (prefers-color-scheme dark)
  .header
    background-color $Component_Color_Dark

  .header span, .menu a
    color: $Foreground_Color_Dark
