.article
    margin: 30px auto 30px

.article-item,
.post-list
    border-bottom: 1px solid #f0f0f0
    margin: 0 auto 20px
    padding-bottom: 15px

.article-item a
    font-size: 21px
    font-weight: 700
    line-height: 1.5

.article-item a:link
    color: #333333

.article-item a:hover,
.post-list a:hover
    text-decoration: underline

.article-item a:visited,
.post-list a:visited
    color: #969696

.article-item-content p
    color: #999999
    font-size: 14px
    line-height: 25px

.article-item-date-and-author,
.article-item-date-and-author span
    color: #b4b4b4
    font-size: 12px
    line-height: 20px

.post-list ul
    margin: 0

.post-list li
    margin: 5px 0 5px
    list-style-type: none

.post-list time
    font-size: 14px
    font-weight: 300

.post-list a
    font-size: 14px

@media (prefers-color-scheme dark)
    .article-item, .post-list
        border-bottom: 1px solid #404040

    .article-item a:link
        color: #969696

    .article-item a:visited,
    .post-list a:visited
        color: #ccc

    .article-item-content p
        color: #dedede

