<!DOCTYPE html>
<% var pageLanguage = config.language || theme.language; %>
<html lang="<%= pageLanguage %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%
    var pageTitle = page.title || config.title || '';
    if (is_post()) pageTitle = '» ' + page.title;
    if (is_archive()) pageTitle = _p('menu.archives');
    if (is_tag()) pageTitle = _p('menu.tags') + ': ' + page.tag;
    if (is_category()) pageTitle = _p('menu.categories') + ': ' + page.category;
    if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
    if (is_year()) pageTitle += ': ' + page.year;
    %>
    <title><%= pageTitle %></title>
    <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
        <!-- stylesheets list from config.yml -->
        <% theme.stylesheets.forEach(function(url) { %>
            <link rel="stylesheet" href="<%= url %>">
        <% }); %>
    <% } %>
</head>