/* Light Mode */

/* Dark Mode */
$Background_Color_Dark = #121216
$Component_Color_Dark = #1a1a1c
$Foreground_Color_Dark = #fafcff
$Link_Color_Dark = #fefeff

$Article_Blockquote_Background_Dark = #242428
$Article_Blockquote_Border_Color_Dark = #40404a