/* Light Mode */
$Background_Color = #121216
$Component_Color = #1a1a1c
$Foreground_Color = #fafcff
$Link_Color = #fefeff

$Article_Blockquote_Background = #f3f5f7
$Article_Blockquote_Border_Color = #dfe2e5

/* Dark Mode */
$Background_Color_Dark = #121216
$Component_Color_Dark = #1a1a1c
$Foreground_Color_Dark = #fafcff
$Link_Color_Dark = #fefeff

$Article_Blockquote_Background_Dark = #242428
$Article_Blockquote_Border_Color_Dark = #40404a