.container
  margin: 25px auto 20px

@media only screen and (min-width: 1200px)
  .container
    width: 930px
    min-height: 650px

@media only screen and (max-width: 1200px)
  .container
    width: 930px
    min-height: 600px

@media only screen and (max-width: 979px)
  .container
    width: 710px
    min-height: 550px

@media only screen and (max-width: 767px)
  .container
    width: 85%
    min-height: 500px

@media only screen and (max-width: 480px)
  .container
    width: 85%
    min-height: 450px
